.declarationForm{
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    .declaration-wrapper{
        width: 100%;
        display: flex;
        gap: 25px;
        .declaration-left{
            flex: 1;
        }
        .declaration-right{
            width: 100%;
            overflow-x: scroll;
            flex: 2;
            .declaration-right-wrapper{

            }
        }
    }
}