.rapportSpecialForm{
    padding: 10px;
/*     background-color: #f5f5f5;
 */    .rapportSpecial_wrapper{
        .h1_rapport{
            font-size: .985rem;
        }
        .rapportSpecial_rows{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .rapportSpecial_row{
                display: flex;
                gap: 20px;
                justify-content: center;
            }

        }
    }
}