.consomInfoGen{
    background: #fff;
    border-radius: 16px;
    padding: 24px 32px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
    .consomInfoGen__container{
        display: flex;
        gap: 10px;
        .consomInfoGen__row{
            flex: 1;
        }
    }
}