.consomInfoGen{
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
    .consomInfoGen__container{
        display: flex;
        gap: 10px;
        .consomInfoGen__row{
            flex: 1;
        }
    }
}