@import '../../../style.scss';

.instruction{
    padding: 10px;
    .instruction_wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .instruction_rows{
            .instruction_h2{
                text-transform: uppercase;
                text-align: center;
            }
            .row_inspections{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                @include mobileXR {
                    width: 100%;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    grid-template-columns: repeat(1, 1fr);
                }
                .row-arrow{
                    font-size: 1.2rem;
                    color: rgb(0, 96, 206);
                    cursor: pointer;
                    @include mobileXR {
                        width: max-content;
                    }
                }
                .instruction_row{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    @include mobileXR {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                    }
                    .instruction_sous_row{
                        display: flex;
                        flex-direction: column;
                        .instruction_desc_strong{
                            font-size: .8rem;
                        }
                        .instruction_desc{
                            font-size: .7rem;
                            margin-left: 20px;
                        }
                    }
                }
            }
            .inspection_bottom{
                .inspection_bottom_wrapper{
                    .inspection_title_h2{
                        font-size: 1rem;
                        font-weight: bold;
                    }
                    .inspection_bottom_rows{
                        display: grid;
                        align-items: stretch; // étire chaque ligne à la même hauteur
                        grid-template-columns: repeat(2,1fr);
                        gap: 20px;
                        .inspection_bottom_row{
                               display: flex;
                                flex-direction: column;
                                justify-content: space-between; // équilibre le contenu
                                padding: 10px;
                                background-color: #fff;
                                border: 1px solid #ccc;
                                border-radius: 8px;
                                overflow: hidden; // évite le débordement
                                box-sizing: border-box;
                                
                            .title_sous_inspection{
                                font-size: 1rem;
                            }
                            .inspection_desc{
                                font-size: .8rem;
                                color: #666666;
                                margin: 10px 0;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }
}