.consomCarburantChart {
    background: #fff;
    border-radius: 16px;
    padding: 24px 32px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
    .consomCarburant_chart_wrapper{
        width: 100%;
        display: flex;
        gap: 10px;
        .consom_chart_left{
            flex: 3;
        }
        .consom_chart{
            flex: 1;
        }
    }
}