.rightbar{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
    .rightbar-wrapper{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}