@import '../../style.scss';

.notification-float-detail {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  z-index: 1100;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  border-radius: 8px;

  .notification-float-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h3 {
      margin: 0;
    }
  }
}

.topbar {
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px 40px;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  border-bottom: 1px solid var(--border);

  @include mobileXR {
    padding: 15px 20px;
  }

  .topbar-left {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;

    .topbar-img {
      height: 45px;
      width: 45px;
      border-radius: 50%;
    }

    .logo {
      font-size: 1.3rem;
      text-transform: uppercase;
      font-weight: 900;
      color: var(--accent);
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      gap: 3px;

      .logo-d {
        width: 33px;
        height: 33px;
        background-color: var(--accent);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--accent-contrast);
        font-size: 22px;
        font-weight: bold;
      }
    }
  }

  .topbar-right {
    display: flex;
    align-items: center;
    gap: 15px;

    .topbar_switch {
      margin-right: 16;
      @include mobileXR {
        display: none;
      }
    }

    hr {
      height: 20px;
      color: var(--border);
    }

    .topbar-user-rows {
      display: flex;
      align-items: center;
      gap: 8px;

      .user-logo {
        height: 35px;
        width: 35px;
        border-radius: 50%;
      }

      .topbar-name-rows {
        display: flex;
        flex-direction: column;
        gap: 1px;

        .topbar-name {
          font-weight: 900;
          font-size: 0.7rem;
          color: var(--accent);
        }

        .topbar-sous-name {
          font-size: 0.6rem;
          color: var(--text-secondary);
        }
      }
    }

    .topBar-trait {
      @include mobileXR {
        display: none;
      }

      .topbar-icon {
        font-size: 1rem;
        color: var(--text);
      }
      
    }

    .hamburger {
      width: 22px;
      height: 18px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      @include mobileXR {
        display: flex;
      }

      .line {
        width: 100%;
        height: 2px;
        background-color: var(--text);
        transition: all 0.3s ease;
      }

      &.open {
        .line {
          background-color: red; // ou var(--accent) si tu veux adapter
        }

        .line:nth-child(1) {
          transform: rotate(45deg) translate(6px, 6px);
        }

        .line:nth-child(2) {
          opacity: 0;
        }

        .line:nth-child(3) {
          transform: rotate(-45deg) translate(6px, -6px);
        }
      }
    }
  }
}
