.controle_form {
    padding: 10px;
    border-radius: 8px;
  
    .controle_title_rows {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(0, 123, 255, 0.137);
      padding: 10px 20px;
      margin-bottom: 20px;
      border-radius: 6px;
      border-left: 3px solid #0056b3;
      overflow: hidden; /* Important pour que le ::before ne déborde pas */
      .controle_h2 {
        font-weight: 300;
        color: #0056b3;
        margin: 0;
      }

      /* Barre de progression simulée */
.controle_title_rows.loading::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #0056b3;
  z-index: 0;
  animation: fillRow 1.5s forwards;
  border-radius: 6px;
}

/* Texte au-dessus de la barre */
.controle_title_rows .controle_h2 {
  position: relative;
  z-index: 1;
}

/* Animation de remplissage */
@keyframes fillRow {
  from {
    width: 3px; /* simule la border-left initiale */
  }
  to {
    width: 100%;
  }
}
    }
    
    .controle_title_rows{
      background: #f2f2f2;
      padding: 10px;
      margin-bottom: 20px;
      .controle_h2{
        font-weight: 800;
        font-size: 16px;
      }
    }
    .controle_wrapper {
      max-width: 100%;
      margin: 0 auto;
    }
  
    .custom-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
      .ant-form-item {
        margin-bottom: 20px;
      }
  
      .ant-form-item-label > label {
        font-weight: 600;
      }
  
      .ant-input, .ant-select-selector {
        height: 40px;
        border-radius: 6px;
      }
  
      .button-group {
        display: flex;
        justify-content: flex-end;
  
        .ant-btn {
          border-radius: 6px;
          font-weight: 600;
        }
      }
    }
  }
  