.budgetForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .budget-row-h2{
        border-bottom: 1px solid #e6e6e6;
        padding: 10px 0;
        .budget_h2{
            font-size: 16px;
            font-weight: 300;
            text-transform: uppercase;
        }
    }
}