.carburant_container{
    .carburant_h2{
        text-align: center;
        font-size: 1.2rem;
        font-weight: bolder;
        text-transform:uppercase;
        color: #0056b3;
    }
    .carburant_wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        .controle_form{
            flex: 2;
        }
        .controle_right{
            flex: 2;
        }
    }
}