.charroi_local_detail{
    width: 100%;
    .charroi_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .charroi_top_left{
            .charroi_h3{
                font-size: 1rem;
            }
            .charroi_desc{
                font-size: .7rem;
                color: #555;
            }
        }
        .charroi_top_right{
            .charroi_h3{
                font-size: 1rem;
            }
            .charroi_desc{
                font-size: .7rem;
                color: #555;
            }
        }
    }
    .charroi_local{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: 20px;
        .charroi_local_left{
            flex: 2;
            border-radius: 16px;
            padding: 10px;
            box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        .charroi_local_right{
            display: flex;
            gap: 10px;
            border-radius: 16px;
            padding: 10px;
            box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
        }
    }
}