.tableauHorsTiming {
  margin-top: 15px;
  border-radius: 10px;
  padding: 14px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  overflow-x: auto;
  margin: 15px;

  .title_timing {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 12px;
    color: #151541;
  }

  .tableauHorsTiming_wrapper {
    .row-hors-timing {
      background-color: #fff1f0;
    }

    .ant-table-cell.late {
      color: #ff4d4f;
      font-weight: 600;
    }

    .ant-table-thead > tr > th {
      background-color: #f5f5f5;
      font-weight: 600;
      color: #151541;
      font-size: 0.9rem;
      padding: 6px 10px;
    }

    .ant-table-tbody > tr > td {
      font-size: 0.9rem;
      padding: 6px 10px;
    }

    .ant-table-tbody > tr:hover {
      background-color: #e6f7ff;
      transition: 0.3s;
    }

    .ant-tag {
      font-weight: 600;
      font-size: 0.85rem;
      padding: 2px 6px;
    }
  }
}
