.list_croquis{
    width: 100%;
    overflow-y: scroll;
    .list_croquis_wrapper{
        width: 100%;
        .list_croquis_top{
            display: flex;
            align-items: center;
            justify-content: center;
            background: #eeeeee;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
            .list_croquis_h2{
                text-align: center;
                font-size: 1.3rem;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                margin: 0;
                padding: 0;
            }
        }
        .list_croquis_row_filter{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            padding: 20px;
            .list_croquis_right{
                display: flex;
                width: 20%;
                gap: 10px;
            }
        }
        .list_croquis_bottom{
            .list_croquis_rows{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;

                .list_croquis_row{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 310px;
                    border : 1px solid #ececec;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow:
                    0 2px 4px rgba(0, 0, 0, 0.05),
                    0 8px 16px rgba(0, 0, 0, 0.08);

                    .list_croquis_title_row{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin: 10px 0;
                        .list_croquis_h1{
                            margin: 0;
                            padding: 0;
                            font-size: .9rem;
                            border-bottom: 1px solid #ececec;
                        }
                        .list_span_croquis{
                            font-size: .7rem;
                            color: #777777;
                            line-height: 25px;
                            border-bottom: 1px solid #ececec;

                        }
                    }
                    .list_croquis_img{
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }

            }
        }
    }
}