.list_croquis{
    width: 100%;
    .list_croquis_wrapper{
        width: 100%;
        .list_croquis_bottom{
            .list_croquis_rows{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                .list_croquis_row{
                    position: relative;
                    width: 290px;
                    height: 200px;
                }
                .list_croquis_img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}