.reparation_detail{
    .reparation_detail_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 123, 255, 0.137);
        padding: 10px 20px;
        margin-bottom: 20px;
        border-radius: 6px;

        .reparation_detail_h1 {
            font-size: 1.2rem;
            font-weight: 800;
            color: #0056b3;
            margin: 0;
            letter-spacing: 1px;
        }
        
    }
    .reparation_detail_wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .reparation_detail_card{
            .reparation_detail_top{
                .reparation_wrapper_img{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    .reparation_detail_img_rows{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .reparation_img{
                            .img{
                                width: 100%;
                                height: 150px;
                                object-fit: cover;
                            }
                        }
                        .reparation_img_row{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .reparation_span{
                                font-size: .7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}