.reparation_detail{
    .reparation_detail_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 123, 255, 0.137);
        padding: 10px 20px;
        margin-bottom: 20px;
        border-radius: 6px;

        .reparation_detail_h1 {
            font-size: 1.2rem;
            font-weight: 800;
            color: #0056b3;
            margin: 0;
            letter-spacing: 1px;
        }
        
    }
    .reparation_detail_wrapper{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}