.geofence_form {
  .active-row {
    background-color: #e6f7ff !important;
  }

  .ant-table {
    font-size: 13px;
  }

  .ant-input,
  .ant-select {
    min-width: 120px;
  }

  .ant-btn-link {
    padding: 0;
  }
}
