.sidebar {
    flex: 1;
    height: calc(100vh - 70px);
    position: sticky;
    top: 61px;
    border-right: 1px solid #cfcfcf;
    background: #fff;
    padding: 20px 10px;
    width: 220px;
  }
  
  .ant-menu-item,
  .ant-menu-submenu-title {
    font-size: 14px;
  }
  
  .ant-menu-item, .ant-menu-submenu-title {
    padding: 10px 15px;
  }