.sidebar {
    height: calc(100vh - 60px);
    position: sticky;
    top: 60px;
    border-right: 1px solid #cfcfcf;
    background: #fff;
    padding: 10px;
  }
  
  .ant-menu-item,
  .ant-menu-submenu-title {
    font-size: 13px;
  }
  
  .ant-menu-item, .ant-menu-submenu-title {
    padding: 10px;
  }