.trajetDetail {
  width: 100%;
  .trajetDetail_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .trajet-title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border : 1px solid #ececec;
        padding: 15px;
        border-radius: 5px;
        background: #f8f8f8;
        .trajet_h2{
            font-size: 1.2rem;
            margin: 0;
            text-transform: uppercase;
            font-weight: 800;
            color: rgb(30, 30, 85);
        }
    }
    .trajet_row {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}
