@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* App.css */

:root {
  --bg: #fff;
  --text: #000;
}

[data-theme='dark'] {
  --bg: #121212;
  --text: #f5f5f5;
}

body,.app-rows{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--text);
}
.app-container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
}
.app-outlet{
  position: relative;
  overflow: hidden;
  flex: 5;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  padding: 20px;
}

.hidden-column {
  display: none;
}

.spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinnerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

.loader-container-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.even-row {
  background-color: #f9f9f9 !important;
}

.odd-row {
  background-color: #ffffff !important;
}

[data-theme='dark'] .ant-table {
  background: #1e1e1e;
  color: #f5f5f5;
}

[data-theme='dark'] .ant-table-thead > tr > th {
  background: #333;
  color: #f5f5f5;
}

[data-theme='dark'] .ant-table-tbody > tr > td {
  background: #2a2a2a;
  color: #f5f5f5;
}

[data-theme='dark'] .ant-input {
  background: #1e1e1e;
  color: #f5f5f5;
  border-color: #444;
}

[data-theme='dark'] .ant-input::placeholder {
  color: #aaa;
}

[data-theme='dark'] .ant-btn-primary {
  background-color: #1677ff;
  border-color: #1677ff;
  color: #fff;
}

[data-theme='dark'] .ant-tabs {
  background-color: #1e1e1e;
  color: #eee;
}

[data-theme='dark'] .ant-tabs-tab {
  color: #aaa;
  background-color: #2a2a2a;
}

[data-theme='dark'] .ant-tabs-tab.ant-tabs-tab-active {
  color: #1890ff;
  background-color: #121212;
  border-color: #1890ff #1890ff #121212;
}

[data-theme='dark'] .ant-tabs-nav::before {
  border-bottom: 1px solid #333;
}

[data-theme='dark'] {
  .ant-modal-content {
    background-color: #1e1e1e;
    color: #f0f0f0;
  }

  .ant-modal-header {
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
  }

  .ant-modal-title {
    color: #f0f0f0;
  }

  .ant-modal-close-x {
    color: #ccc;
  }

  .ant-modal-body {
    background-color: #1e1e1e;
  }
}

[data-theme='dark'] {
  .ant-card {
    background-color: #1e1e1e;
    color: #f0f0f0;
    border-color: #333;
  }

  .ant-card-head {
    background-color: #2a2a2a;
    border-bottom: 1px solid #444;
  }

  .ant-card-head-title {
    color: #f0f0f0;
  }

  .ant-card-body {
    color: #ccc;
  }

}

.row-avec-smr {
    background-color: #f6ffed;
}

.row-sans-smr {
    background-color: #fff7e6;
}
