.mouvement_vehicule{
    width: 100%;
    .mouv_vehicule_wrapper{
        width: 100%;
        .mouv_vehicule_row{
            display: flex;
            .mouv_vehicule_card{
                border-color: 1px solid #555;
                padding: 15px;
            }
        }
    }
}