.mouvement_vehicule{
    .mouv_vehicule_wrapper{
        .mouv_periode{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .mouv_labe {

            }
        }
    }   
}
