.controle_form {
    .controle_wrapper {
        .custom-form {
            .ant-form-item {
                .ant-form-item-label {
                    label {
                        font-weight: bold;
                    }
                }
                .ant-form-item-control {
                    .ant-input, .ant-select-selector, .ant-input-textarea {
                        resize: none; // Désactiver le redimensionnement
                        height: 40px; // Hauteur spécifique pour les champs de texte
                    }
                    .ant-input-textarea {
                        height: 100px; // Hauteur spécifique pour les zones de texte
                    }
                }
            }
        }
    }
}
