.rapportVehiculeUtilitaire{
    width: 100%;
    .rapport_utilitaire_wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .rapport_utilitaire_top{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}